@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
 *{
    box-sizing:border-box;
}
body{
    background-color: #f5f5f5;
    display: flex;
    color:#444;
    align-items: center;
    flex-direction: column;
    font-family:"Poppins",sans-serif;
    margin:0;
    min-height: 100vh;
}
h1{
    color:rgb(179,131,226);
    font-size: 3rem;
    text-align:center;
    opacity: 0.4;
}
form{
    box-shadow:0 4px 10px rgba(0,0,0,0.1) ;
    margin:auto;
    max-width: 100%;
    width:400px;

}
.input{
    border: none;
    color: #444;
    font-size: 2rem;
    padding: 1rem 2 rem;
    display: block;
    width:100%;

}
.input::placeholder{
    color:#d5d5d5;

}
.todos{
    background-color: #fff;
    padding:0;
    margin:0;
    list-style-type:none;
}
.todos li{
    border-top:1px solid #e5e5e5;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 1 rem 2 rem;
}
.todos li.completed{
    color: #e5e5e5;
    text-decoration: line-through;
}
small{
    color: #b5b5b5;
    margin-top: 3rem;
    text-align: center;
}
