@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-image: url("\mypic.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

h1 {
    color: aliceblue;
    font-weight: normal;
    font-size: 4rem;
    margin-top: 7rem;
}

.countdown-container {
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.big-text {
    color: aliceblue;
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown-el {
    color: aliceblue;
    text-align: center;
}

.countdown-el span {
    color: aliceblue;
    font-size: 1.3rem;
}
